{% load i18n %}

<div class="alert alert-info">
    <h4 class="alert-heading pb-2">{% trans "Parent/Guardians" %}:</h4>
    <ul>
        <li class="pb-2">{% trans "You may register one patient at this stage - if you have multiple patients to register, you will be able to enter their details once you have logged into the registry. Please note you must be the patient's parent or guardian to register on their behalf." %}</li>
        <li>{% trans "Data collected on the parent registration page is used to further Angelman research and understanding of global prevalence rates via initiatives such as Search and Rescue. Submission of this form is considered your consent. No identifying data (name, date of or address) is provided to the project or anyone outside of the Global Angelman Syndrome Registry project without your consent." %}</li>
    </ul>
</div>