{% extends "registration/ang_registration_base.html" %}

{% load i18n %}
{% load countries %}
{% load project_title %}

{% block content %}
    <h3 class="pb-2">{% project_title %} - {% trans "Parent Registration" %}</h3>

    {% include "registration/_registration_info.html" %}

    <form id="registration-form" method="POST">
        {% csrf_token %}
        <div class="row">

            <div class="col-md-6">
                {% include "registration/registration_login_details.html" %}
            </div>

            <div class="col-md-6">
                {% include "registration/_parent_registration_details.html" %}
            </div>

        </div>
    </form>

{% endblock %}
